<!-- MUSIAL (Webserver) | Simon Hackl - simon.hackl@uni-tuebingen.de | v1.2.0 | GPL-3.0 license | github.com/Integrative-Transcriptomics/MUSIAL-WEB -->

{% extends 'index.html' %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/home.css')}}"
/>
{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='js/home.js')}}"
  defer
></script>
{% endblock %} {% block menu %}
<!-- Menu elements floating left -->
<div class="app-bar-container mr-auto d-none d-flex-fs">
  <a
    id="menu-link-home"
    href="{{url_for('get_template_home')}}"
    class="app-bar-item text-upper active"
    >home</a
  >
  <a
    id="menu-link-upload"
    href="{{url_for('get_template_upload')}}"
    class="app-bar-item text-upper"
    >upload</a
  >
  <a
    id="menu-link-results"
    href="{{url_for('get_template_results')}}"
    class="app-bar-item text-upper"
    >results</a
  >
  <a
    id="menu-link-upload"
    href="{{url_for('get_template_help')}}"
    class="app-bar-item text-upper"
    >help</a
  >
  <a
    id="menu-link-legal"
    href="{{url_for('get_template_legal')}}"
    class="app-bar-item text-upper"
    >legal</a
  >
</div>
<!-- Menu elements floating right -->
<div class="app-bar-container ml-auto d-none d-flex-fs">
  <i id="menu-active-session-indicator" class="p-2 fa-duotone fa-hexagon"></i>
</div>
{% endblock %} {% block content %}
<div id="main-home" class="main">
  <div class="remark m-4" id="home-abstract">
    <p class="text-light text-just">
      <strong>MUSIAL</strong> is a web platform that computes
      <strong>prokaryotic genome, gene</strong> and
      <strong>protein sequence alignments</strong> from
      <strong>variant call datasets (using both SNVs and Indels)</strong>
      derived from multiple samples of one species. Scientists can
      <strong>assess the variability of a species</strong> on the genome, gene,
      and protein sequence level, e.g., study which positions in the species
      exhibit large or no variability, identify genes with large variability,
      which samples agree on which proteoforms, etc. The platform is designed to
      support the detection of features of interest for downstream analyses. It
      provides multiple <strong>data export options</strong> for
      <strong>FASTA</strong> and <strong>tabular formats</strong> as well as
      diverse <strong>visual analytics features</strong>.
      <a href="{{url_for('get_template_upload')}}"
        ><strong>Start your analysis via the upload form</strong></a
      >.
    </p>
  </div>
  <div class="remark m-4" id="home-fields">
    <div class="grid">
      <div class="row">
        <div class="cell-12 mb-4">
          <div
            id="home-start-example-tile"
            class="home-tile"
            onclick="startExampleSession()"
          >
            <p class="text-upper text-leader2">
              <strong>start an example session</strong>
            </p>
            <p class="text-light">
              Explore the features of MUSIAL by starting an example session with
              a small dataset that we provide on our server.
            </p>
            <i class="icon fa-solid fa-square-caret-right"></i>
          </div>
        </div>
        <div class="cell-12 mb-4">
          <div
            id="home-download-example-tile"
            class="home-tile"
            onclick="getExampleData()"
          >
            <p class="text-upper text-leader2">
              <strong>example data for upload form</strong>
            </p>
            <p class="text-light">
              Download the data that was used to create the example session to
              familiarize yourself with the upload process, i.e., which data is
              mandatory in which format.
            </p>
            <i class="icon fa-solid fa-square-down"></i>
          </div>
        </div>
        <div class="cell-12 mb-4">
          <div
            id="home-show-tutorial-tile"
            class="home-tile"
            onclick="redirectHelp()"
          >
            <p class="text-upper text-leader2">
              <strong>documentation</strong>
            </p>
            <p class="text-light">
              We provide an introduction to MUSIAL's architecture, the upload
              process, the interactive exploration possibilities, and how to
              download the computation results on the help page.
            </p>
            <i class="icon fa-solid fa-square-info"></i>
          </div>
        </div>
        <div class="cell-12 mb-4">
          <div
            id="home-view-source-tile"
            class="home-tile"
            onclick="redirectSource()"
          >
            <p class="text-upper text-leader2"><strong>source code</strong></p>
            <p class="text-light">
              If you encounter any problems, have feature requests, or want to
              access the source code of MUSIAL please visit our GitHub
              repository. All our source code is freely available and released
              under the GPL 3.0 license.
            </p>
            <i class="icon fa-brands fa-square-github"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="remark m-4" id="home-footer">
    <div class="grid">
      <div class="row">
        <div class="cell-3">
          <p class="text-upper text-leader2 text-center">citation</p>
          <p class="text-light">
            If you use any component of MUSIAL in your work, please cite
            <br />
            <span class="tag-citation">
              Hackl et al., (2022, December 20), MUSIAL,
              <i>https://github.com/Integrative-Transcriptomics/MUSIAL</i></span
            >
          </p>
        </div>
        <div class="cell-4 offset-1">
          <p class="text-upper text-leader2 text-center">
            browser compatibility
          </p>
          <table class="table subcompact table-border cell-border mt-4">
            <thead>
              <tr>
                <th>OS</th>
                <th>Version</th>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Edge</th>
                <th>Safari</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Linux</th>
                <th>Ubuntu 20.04.4</th>
                <th>not tested</th>
                <th>102.08</th>
                <th>n/a</th>
                <th>n/a</th>
              </tr>
              <tr>
                <th>MacOS</th>
                <th>Ventura 13.0.1</th>
                <th>108.0.5359.124</th>
                <th>108.1</th>
                <th>n/a</th>
                <th>16.1</th>
              </tr>
              <tr>
                <th>Windows</th>
                <th>11</th>
                <th>108.0.5359.125</th>
                <th>108.0</th>
                <th>108.0.1462.54</th>
                <th>n/a</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cell-3 offset-1">
          <p class="text-upper text-leader2 text-center">legal</p>
          <p>
            This website is free and open to all users and there is no login
            requirement. All submitted data is kept confidential. You will find
            additional information on the
            <a href="{{url_for('get_template_legal')}}">legal</a> page.
          </p>
          <p>
            <i
              style="color: #bd8c61"
              class="fa-duotone fa-cookie-bite fa-xl"
            ></i>
            We use a strictly necessary (http-only non-tracking) session cookie
            so that you can access your data! By using MUSIAL you consent to
            using this cookie.
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
