<!DOCTYPE html>

<!-- MUSIAL (Webserver) | Simon Hackl - simon.hackl@uni-tuebingen.de | v1.2.0 | GPL-3.0 license | github.com/Integrative-Transcriptomics/MUSIAL-WEB -->

<html>
  <head>
    <title>MUSIAL</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='resources/icon.ico') }}"
    />
    <!--
      Provide meta information about the application.
      -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Webserver for the analysis and visualization of nucleotide variants and their induced amino-acid mutations from multiple prokaryotic samples."
    />
    <meta name="author" content="Simon Hackl" />
    <!--
      Definition of stylesheets to use in the application.
      -->
    <link
      rel="stylesheet"
      href="https://cdn.metroui.org.ua/current/metro.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    {% block styles %} {% endblock %}
    <!--
      Definition of java script files to use in the application.
      -->
    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.7.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://3Dmol.org/build/3Dmol-min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://kit.fontawesome.com/df04f22e3d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/resize-sensor@0.0.6/ResizeSensor.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/axios@1.6.5/dist/axios.min.js"
    ></script>
    <script>
      var API_PARAMETERS = JSON.parse(
        "{{api_parameters|safe}}".replaceAll("'", '"')
      );
      var BACTERIA_GIF =
        "{{ url_for('static', filename='resources/bacteria.gif') }}";
    </script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/pako.min.js')}}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/index.js')}}"
      defer
    ></script>
    {% block scripts %} {% endblock %}
  </head>
  <body onLoad="init();">
    <!-- App menu; Displayed independent of other components -->
    <header
      id="menu"
      class="app-bar app-bar-expand app_header"
      data-role="appbar"
      data-expand="true"
      data-role-appbar="true"
    >
      <!-- App icon -->
      <div class="brand no-hover">
        <img
          src="{{ url_for('static', filename='resources/logo.png') }}"
          alt="no picture"
        />
      </div>
      {% block menu %} {% endblock %}
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
