/* MUSIAL (Webserver) | Simon Hackl - simon.hackl@uni-tuebingen.de | v1.2.0 | GPL-3.0 license | github.com/Integrative-Transcriptomics/MUSIAL-WEB */
#main-home {
  overflow-y: auto;
  flex-direction: column;
  background-color: var(--background-color-primary);
  width: 100%;
  text-align: justify;
}

#main-home a:link {
  color: var(--contrast-primary);
  text-decoration: none;
}

#main-home a:visited {
  color: var(--contrast-primary);
  text-decoration: none;
}

#main-home a:hover {
  color: var(--contrast-primary);
  text-decoration: underline;
}

#main-home a:active {
  color: var(--contrast-primary);
  text-decoration: none;
}

.home-tile {
  border-radius: 6px;
  background-color: var(--color-primary);
  opacity: 50;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: var(--background-color-tertiary);
  cursor: pointer;
}

.home-tile:hover {
  background-color: var(--color-tertiary);
  transition: 0.1s;
}

.home-tile:hover i {
  color: rgba(254, 72, 72, 1);
  transition: 0.1s;
}

.home-tile:active {
  background-color: var(--color-tertiary);
}

.home-tile i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 68px;
  color: rgba(254, 72, 72, 0.8);
}

.home-tile p {
  padding-left: 80px;
}

.remark {
  background-color: var(--background-color-tertiary);
  color: var(--text-color-secondary);
  font-size: large;
  border-radius: 2px;
}

#home-footer {
  font-size: x-small;
  background-color: var(--background-color-tertiary);
  opacity: 50;
}

#home-footer div {
  padding: 10px;
}
