/* MUSIAL (Webserver) | Simon Hackl - simon.hackl@uni-tuebingen.de | v1.2.0 | GPL-3.0 license | github.com/Integrative-Transcriptomics/MUSIAL-WEB */
#main-legal {
  overflow-y: auto;
  flex-direction: column;
  color: var(--text-color-secondary);
}

#main-legal .remark {
  background-color: var(--background-color-tertiary);
}
