/* MUSIAL (Webserver) | Simon Hackl - simon.hackl@uni-tuebingen.de | v1.2.0 | GPL-3.0 license | github.com/Integrative-Transcriptomics/MUSIAL-WEB */
#main-results {
  overflow-y: auto;
  flex-direction: column;
}

.remark {
  background-color: var(--background-color-tertiary);
  padding-top: 0.5vh !important;
}

.remark .info-clickable {
  float: right;
  color: var(--contrast-primary);
  font-size: x-large;
}

.remark .info-block {
  background-color: rgba(96, 113, 150, 0.6);
  border-radius: 2px;
  box-shadow: 1px 1px 6px var(--text-color-secondary);
  color: var(--background-color-primary);
}

.toolbar {
  gap: 1vh;
}

.toolbar .button {
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--color-quarternary);
  color: var(--background-color-primary);
}

.toolbar .button i {
  font-size: small;
  color: var(--background-color-primary);
}

.toolbar button .badge {
  background-color: var(--color-secondary);
  color: var(--text-color-secondary);
}

.toolbar .select {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 10vw !important;
}

.toolbar .multiple {
  min-width: 11vw !important;
  max-width: 11vw !important;
}

.toolbar .input {
  margin-left: 4px;
  margin-right: 4px;
}

.toolbar .input button {
  background-color: transparent;
}

.toolbar .input button:hover {
  background-color: transparent;
}

.toolbar .button:hover {
  transition: 0.2s;
  background-color: var(--color-primary);
}

.green-button {
  background-color: var(--contrast-secondary) !important;
}

.red-button {
  background-color: var(--contrast-primary) !important;
}

.blue-button {
  background-color: var(--color-tertiary);
}

#main-results-table {
  margin-top: 1vh;
  border-radius: 4px;
  border-style: groove;
  border-width: 1px;
  border-color: var(--color-secondary);
}

#main-results-table-manage-tags-wrapper .input-clear-button {
  display: none !important;
}

#main-results-table-manage-tags-wrapper .input-wrapper {
  display: none !important;
}

.active-content {
  background-color: var(--color-tertiary) !important;
}

.tabulator-col-title {
  padding-left: 1.5vw !important;
}

.tabulator-col-sorter {
  padding: 2px !important;
}

.tabulator-selected {
  font-style: bold !important;
  background-color: var(--color-secondary) !important;
  border-radius: 4px !important;
}

.dashboard-features-graph-tooltip {
  pointer-events: auto !important;
}

.dashboard-features-graph-tooltip-variants {
  background: #e4e5ed !important;
  border-radius: 3px;
  overflow-y: scroll;
  max-height: 6em;
  width: auto;
  pointer-events: auto;
  padding: 4px;
  margin-top: 0px;
}

#main-results-dashboard {
  height: 50vh;
}

.dashboard-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.main-results-dashboard-left-toolbox {
  position: absolute;
  height: 28px;
  width: 99%;
  top: 1%;
  right: 1%;
  z-index: 2;
}

.main-results-dashboard-left-toolbox div {
  border-radius: 4px;
}

.main-results-dashboard-right-toolbox {
  position: absolute;
  display: inline;
  height: 28px;
  width: 99%;
  top: 1%;
  right: 1%;
  z-index: 2;
}

.main-results-dashboard-right-toolbox div {
  border-radius: 4px;
}

#main-results-dashboard-samples {
  display: none;
}

#main-results-dashboard-samples-left {
  position: absolute;
  height: 99%;
  width: 100%;
  top: 1%;
  background-color: transparent;
  z-index: 1;
}

#main-results-dashboard-samples-right {
  position: absolute;
  height: 99%;
  width: 100%;
  top: 1%;
  background-color: transparent;
}

#main-results-dashboard-features {
  display: none;
}

#main-results-dashboard-features-left {
  position: absolute;
  height: 99%;
  width: 100%;
  top: 1%;
  background-color: transparent;
  z-index: 1;
}

#main-results-dashboard-features-right {
  position: absolute;
  height: 99%;
  width: 100%;
  top: 1%;
  background-color: transparent;
}

#main-results-dashboard-variants {
  display: none;
}

#main-results-dashboard-variants {
  position: absolute;
  height: 99%;
  width: 100%;
  top: 1%;
  left: 0;
}

.fa-xmark {
  color: var(--text-color-secondary) !important;
}

li {
  padding-bottom: 4px;
}
