/**
MUSIAL WEB APPLICATION
AUTHOR: Simon Hackl
CONTACT: simon.hackl@uni-tuebingen.de
VERSION: 2.1

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#main-results {
  overflow-y: auto;
  flex-direction: column;
}

.remark {
  background-color: var(--background-color-tertiary);
  padding-top: 0.5vh !important;
}

.remark .info-clickable {
  float: right;
  color: var(--contrast-primary);
  font-size: x-large;
}

.remark .info-block {
  background-color: rgba(96, 113, 150, 0.6);
  border-radius: 2px;
  box-shadow: 1px 1px 6px var(--text-color-secondary);
  color: var(--background-color-primary);
}

.toolbar {
  gap: 1vh;
}

.toolbar .button {
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--color-quarternary);
  color: var(--background-color-primary);
}

.toolbar .button i {
  font-size: small;
  color: var(--background-color-primary);
}

.toolbar button .badge {
  background-color: var(--color-secondary);
  color: var(--text-color-secondary);
}

.toolbar .select {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 10vw !important;
}

.toolbar .multiple {
  min-width: 11vw !important;
  max-width: 11vw !important;
}

.toolbar .input {
  margin-left: 4px;
  margin-right: 4px;
}

.toolbar .input button {
  background-color: transparent;
}

.toolbar .input button:hover {
  background-color: transparent;
}

.toolbar .button:hover {
  transition: 0.2s;
  background-color: var(--color-primary);
}

.green-button {
  background-color: var(--contrast-secondary) !important;
}

.red-button {
  background-color: var(--contrast-primary) !important;
}

.blue-button {
  background-color: var(--color-tertiary);
}

#main-results-table {
  margin-top: 1vh;
  border-radius: 4px;
  border-style: groove;
  border-width: 1px;
  border-color: var(--color-secondary);
}

.data-download-copy-from-table-button {
  background-color: var(--color-primary) !important;
  color: var(--background-color-primary) !important;
}

.active-content {
  background-color: var(--color-tertiary) !important;
}

.tabulator-col-title {
  padding-left: 1.5vw;
}

.tabulator-col-sorter {
  padding: 2px;
}

.tabulator-selected {
  font-style: bold;
  background-color: var(--color-secondary) !important;
  border-radius: 4px;
}

#main-results-dashboard {
  height: 50vh;
}

.dashboard-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#main-results-dashboard-samples {
  display: none;
}

#main-results-dashboard-samples-left {
  position: absolute;
  height: 90%;
  width: 50%;
  top: 10%;
  left: 0;
}

#main-results-dashboard-samples-right {
  position: absolute;
  height: 90%;
  width: 50%;
  top: 10%;
  left: 50%;
}

#main-results-dashboard-features {
  display: none;
}

#main-results-dashboard-features-left {
  position: absolute;
  height: 90%;
  width: 50%;
  top: 10%;
  left: 0;
}

#main-results-dashboard-features-right {
  position: absolute;
  height: 90%;
  width: 50%;
  top: 10%;
  left: 50%;
}

#main-results-dashboard-variants {
  display: none;
}

#main-results-dashboard-variants-top {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5%;
  left: 0;
}

#main-results-dashboard-variants-bottom {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0;
  background-color: beige;
}

.fa-xmark {
  color: var(--text-color-secondary) !important;
}

li {
  padding-bottom: 4px;
}
